<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Página Web Imprenta Libregraff</h2>
      <p>LIBREGRAFF ES UNA EMPRESA DEDICADA A LA PRODUCCIÓN GRÁFICA EN LAS ÁREAS DE IMPRESIÓN DIGITAL, IMPRESIÓN OFFSET Y GRAN FORMATO. ES UNA INDUSTRIA GRÁFICA ORIENTADA A SATISFACER LAS NECESIDADES COMUNICACIONALES, Y DE ESTÉTICA DE NUESTROS CLIENTES.</p>
      <p>ES UNA EMPRESA CORDOBESA CON MÁS DE 15 AÑOS DE TRAYECTORIA EN EL MERCADO.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <a href="https://libregraff-imprenta.netlify.app/index.html"><img src="../../../assets/webLibregraff.jpg" alt="webLibregraff" class="img-fluid img-proyectos"></a>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Ecommerce con React</h2>
      <p>LIBREGRAFF ES UNA EMPRESA DEDICADA A LA PRODUCCIÓN GRÁFICA EN LAS ÁREAS DE IMPRESIÓN DIGITAL, IMPRESIÓN OFFSET Y GRAN FORMATO. ES UNA INDUSTRIA GRÁFICA ORIENTADA A SATISFACER LAS NECESIDADES COMUNICACIONALES, Y DE ESTÉTICA DE NUESTROS CLIENTES.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <a href="https://github.com/vanehit/miecommercelibregraff"><img src="../../../assets/ecommerceReact.jpg" alt="webLibregraff" class="img-fluid img-proyectos"></a>
    </div>
  </div>
</div>

