<div class="row">
  <h1>Hard and Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="95"
          [radius]="100"
          [title]="'HTML'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="90"
          [radius]="100"
          [title]="'CSS'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'JS'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'React'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Angular'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [title]="'Github'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="70"
          [radius]="100"
          [title]="'Inglés'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'Portugués'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'Trabajo en equipo'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
</div>

