
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.jpeg" alt="fotodeperfil" class="img-fluid" id="fotodeperfil">
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
          <h1>Acerca de mi</h1>
          <p>Soy Vanesa, Diseñadora Gráfica Freelance. Estoy incursionando en el mundo del Desarrollo web y la Programación, siempre me llamó la atención.

            Poseo conocimientos en Diseño Gráfico Digital, Desarrollo Web, JavaScript, React, Angular...</p>

            <p>¡Espero conocerte pronto y que podamos trabajar en equipo!</p>
        </span>
      </div>
  </div>
